header .girlWrapper {
	/*min-height: 540px;*/
	background-position: 50% 0;
}

.mainParts {
	margin-top: -380px;
}

.mainParts .mainPart {
	padding-top: 0;
}

.partTitle {
	margin-top: -33px;
}

footer .footerWrapper {
  padding-bottom: 0px;
}
footer .footerContent {
  /*background: transparent url('../img/content_bg_end.png') 50% 0 no-repeat;
  min-height: 77px;
  padding-top: 100px;
  width: 99.8%;*/
}
footer .footerPlate {
z-index: 1000;
  margin-top: -160px;
  /*padding-top: 65px;*/
}