.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.datagrid table td, .datagrid table th {
	padding: 5px 8px;
}
.datagrid table thead th {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color: #006699;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child {
	border: none;
}
.datagrid table tbody td {
	color: #00496B;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
	position: relative;
}

.datagrid table tbody td.editCell {
	background-color: #fff!important;
	padding: 0;
}

.datagrid table tbody tr:nth-child(2n) td {
	background: #E1EEF4;
	color: #00496B;
}

.datagrid table tbody tr.error td {
	background-color: #f2dede;
}

.datagrid table tbody td:first-child {
	border-left: none;
}
.datagrid table tbody tr:last-child td {
	border-bottom: none;
}
.datagrid table tfoot td div {
	border-top: 1px solid #006699;
	background: #E1EEF4;
}
.datagrid table tfoot td {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color: #006699;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}
.datagrid table tfoot td div {
	padding: 2px;
}
.datagrid table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.datagrid table tfoot  li {
	display: inline;
}
.datagrid table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color: #006699;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
	text-decoration: none;
	border-color: #006699;
	color: #FFFFFF;
	background: none;
	background-color: #00557F;
}

.datagrid dl {
	margin: 0;
}

.datagrid.gray {
	border: 1px solid #666;
	opacity:0.7;
}

.datagrid.gray table thead th, .datagrid.gray table tfoot td {
	background: #4d4d4d; /* Old browsers */
	background: -moz-linear-gradient(top,  #4d4d4d 5%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#4d4d4d), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4d4d4d 5%,#404040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4d4d4d 5%,#404040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4d4d4d 5%,#404040 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4d4d4d 5%,#404040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#404040',GradientType=0 ); /* IE6-9 */
	border-left-color: #666;
}

.form-search {
	margin-bottom: 10px;
}

.form-search .search-query {
	height: 20px;
}
