.productCase {
  margin-top: 5px;
  height: 40px;
}
.productCase > div {
  float: left;
  margin-right: 10px;
}
.productCase > div input {
  text-align: center;
}
.productCase .caseCount {
  width: 80px;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.productCase .caseCost {
  width: 80px;
  font-weight: bold;
}
.productCase .caseActions {
  height: 25px;
  position: relative;
}
.productCase .caseActions a {
  cursor: pointer;
}
.productCase .caseActions img {
  height: 20px;
  width: 20px;
}
.orderSum {
  margin-bottom: 0;
  width: 366px;
  padding: 20px 0 0 0!important;
}
.orderSum .cost {
  font-size: 36px;
  margin-bottom: 20px;
}
.orderSum .cost_comment {
  font-size: 12px;
  color: #999;
}
.table dl.dl-horizontal dt {
  width: 120px;
}
.table dl.dl-horizontal dd {
  margin-left: 130px;
}
.table dl.dl-horizontal.project dt {
  width: 110px;
}
.table dl.dl-horizontal.project dd {
  margin-left: 120px;
}
.table td.text-center {
  text-align: center;
}
.table td.text-right {
  text-align: right;
}
.table tfoot td {
  border-top: 2px solid #ddd;
}
div.media-files.money-informer {
  margin-left: 110px;
}
.cGray {
  color: #aaa;
}
.dataTable {
  font-size: 12px;
}
ul.pagination {
  margin: 0;
  padding: 0;
}
ul.pagination li {
  display: block;
  float: left;
}
ul.pagination li a {
  display: block;
  float: left;
  background-color: #eee;
  border: 1px solid #ddd;
  height: 20px;
  padding: 10px;
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
ul.pagination li a.active {
  border: none;
  background-color: #0088cc;
  color: #fff;
  text-decoration: none;
  cursor: default;
}
