.productCase {
  margin-top: 5px;
  height: 40px;
  &>div {
    float: left;
    margin-right: 10px;
    
    input {
      text-align: center;
    }
  }
  .caseCount {
    width: 80px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
  }
  
  .caseCost {
    width: 80px;
    font-weight: bold;
  }
  
  .caseActions {
    height: 25px;
    position: relative;
    
    a {
      cursor: pointer;
    }
    
    img {
      height: 20px;
      width: 20px;
    }
  }
}

.orderSum {
  margin-bottom: 0;
  width: 366px;
  .cost {
    font-size: 36px;
    margin-bottom: 20px;  
  }
  
  .cost_comment {
    font-size: 12px;
    color:#999;
  }
  
  padding: 20px 0 0 0!important;
}

.table {
  dl.dl-horizontal {
    dt {
      width: 120px;
    }
    
    dd {
      margin-left: 130px;
    }
    
    &.project {
      dt {
        width: 110px;
      }
      
      dd {
        margin-left:120px;
      }
    }
  }
  
  td {
    &.text-center {
      text-align: center;
    }
    
    &.text-right {
      text-align: right;
    }
  }
  
  tfoot {
    td {
      border-top: 2px solid #ddd;
    }
  }
}

div.media-files.money-informer {
  margin-left: 110px;
}

.cGray {
  color: #aaa;
}


.dataTable {
  font-size: 12px;
}

ul.pagination
   {
    margin: 0;
    padding: 0;
    
    li {
      display: block;
      float: left;
      a {
        display: block;
        float: left;
        background-color: #eee;
        border: 1px solid #ddd;
        height: 20px;
        padding: 10px;
        width: 20px;
        text-align: center;
        margin-right: 10px;
        
        &.active {
          border: none;
          background-color: #0088cc;
          color: #fff;
          text-decoration: none;
          cursor: default;
        }
      }
      
      
    }
  }
